In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
file = "/Users/Aziz/Desktop/Flight-Data---Project-2-/info/data/flights.csv"

In [3]:
df = pd.read_csv(file)
pd.set_option('display.max_columns', None)
df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1.0,4.0,AS,98.0,N407AS,ANC,SEA,5.0,2354.0,-11.0,21.0,15.0,205.0,194.0,169.0,1448.0,404.0,4.0,430.0,408.0,-22.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1.0,4.0,AA,2336.0,N3KUAA,LAX,PBI,10.0,2.0,-8.0,12.0,14.0,280.0,279.0,263.0,2330.0,737.0,4.0,750.0,741.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1.0,4.0,US,840.0,N171US,SFO,CLT,20.0,18.0,-2.0,16.0,34.0,286.0,293.0,266.0,2296.0,800.0,11.0,806.0,811.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1.0,4.0,AA,258.0,N3HYAA,LAX,MIA,20.0,15.0,-5.0,15.0,30.0,285.0,281.0,258.0,2342.0,748.0,8.0,805.0,756.0,-9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1.0,4.0,AS,135.0,N527AS,SEA,ANC,25.0,24.0,-1.0,11.0,35.0,235.0,215.0,199.0,1448.0,254.0,5.0,320.0,259.0,-21.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
d_count = df["DESTINATION_AIRPORT"].value_counts()

In [8]:
d_count

ATL    41995
ORD    33392
DFW    32765
LAX    24462
DEN    24022
IAH    18985
PHX    18536
SFO    18159
LAS    16419
MCO    14167
LGA    13671
DTW    13514
CLT    13188
MSP    12782
BOS    12646
EWR    12388
SLC    12189
JFK    11929
SEA    11917
FLL    10120
BWI     9744
DCA     9584
MDW     9558
MIA     9420
SAN     8576
TPA     8435
PHL     8194
DAL     7329
HOU     6602
BNA     5799
       ...
CIU       81
EWN       80
GGG       77
BRD       77
PUB       76
CDC       76
APN       76
PLN       76
HYS       76
CNY       76
PIB       75
ESC       75
INL       75
LWS       75
VEL       75
STC       70
HOB       70
DVL       69
MMH       51
IAG       44
GUM       44
ADQ       43
PBG       43
MQT       38
ILG       36
OTH       25
UST       23
BGM       21
PPG       14
ADK       13
Name: DESTINATION_AIRPORT, Length: 313, dtype: int64

In [14]:
d_count = pd.DataFrame(d_count)
d_count

                                      DESTINATION_AIRPORT
ATL                                                 41995
ORD                                                 33392
DFW                                                 32765
LAX                                                 24462
DEN                                                 24022
IAH                                                 18985
PHX                                                 18536
SFO                                                 18159
LAS                                                 16419
MCO                                                 14167
LGA                                                 13671
DTW                                                 13514
CLT                                                 13188
MSP                                                 12782
BOS                                                 12646
EWR                                                 12388
SLC                                                 12189
JFK                                                 11929
SEA                                                 11917
FLL                                                 10120
BWI                                                  9744
DCA                                                  9584
MDW                                                  9558
MIA                                                  9420
SAN                                                  8576
TPA                                                  8435
PHL                                                  8194
DAL                                                  7329
HOU                                                  6602
BNA                                                  5799
...                                                   ...
EWN                                                    80
GGG                                                    77
BRD                                                    77
PUB                                                    76
CDC                                                    76
APN                                                    76
PLN                                                    76
HYS                                                    76
CNY                                                    76
PIB                                                    75
ESC                                                    75
INL                                                    75
LWS                                                    75
VEL                                                    75
STC                                                    70
HOB                                                    70
DVL                                                    69
MMH                                                    51
IAG                                                    44
GUM                                                    44
ADQ                                                    43
PBG                                                    43
MQT                                                    38
ILG                                                    36
OTH                                                    25
UST                                                    23
BGM                                                    21
PPG                                                    14
ADK                                                    13
Counts                                        DESTINAT...

[314 rows x 1 columns]

In [15]:
d_count.to_json("flight_destination.json", index=True, header=True)

TypeError: to_json() got an unexpected keyword argument 'header'

In [ ]:
new_df = df.groupby(["AIRLINE"])["DESTINATION_AIRPORT"].size()

In [ ]:
new_df = pd.DataFrame(new_df)
new_df = new_df.reset_index()
# Preview DataFrame
new_df